header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(img/pattern.png);
    background-color: rgb(99, 179, 248);
}

#logo {
    width: 300px;
}

#titolo {
    margin-bottom: 0px;
    font-size: 50px;
}

address {
    font-style: normal;
}

#sottotitolo {
    color: rgb(132, 131, 131);
    margin-bottom: 15px;
}

#boo {
    color: rgb(41, 213, 239);
}

article {
    font-size: 20px;
}

#highlight {
    background-color: yellow;
}

li {
    margin-left: 0px;
}

thead {
    color: rgb(255, 255, 255);
    background-color: rgb(115, 173, 243);
}

tbody {
    background-color: aqua;
}

#bianco {
    background-color: white;
}

h2 {
    color: grey;
}

#monitor {
    background-image: url(img/monitor.jpg);
    padding: 50px;
    padding-right: 0px;
    color: white;
}

#grafico {
    background-image: url(img/graph.jpg);
    color: white;
    padding: 50px;
}