header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(img/pattern.png);
    background-color: rgb(99, 179, 248);
}

#logo {
    width: 300px;
}

#titolo {
    margin-bottom: 0px;
    font-size: 50px;
}

address {
    font-style: normal;
}

#sottotitolo {
    color: rgb(132, 131, 131);
    margin-bottom: 15px;
}

#boo {
    color: rgb(47, 181, 233);
}

article {
    font-size: 20px;
}

#highlight {
    background-color: yellow;
}